<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>系统登录</title>
    <link href="login/login.css" rel="stylesheet" type="text/css" />
    <link href="login/button.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script>
        $(function(){
            $("#password").keydown(function(e){
                var event = e || window.event;
                if(event.keyCode === 13){
                    index();
                }
            });
            $("#username").keydown(function(e){
                var event = e || window.event;
                if(event.keyCode === 13){
                    index();
                }
            });
            $("#code").keydown(function(e){
                var event = e || window.event;
                if(event.keyCode === 13){
                    index();
                }
            });
        });
        function login(){
            var username = $("#username").val();
            var password = $("#password").val();
            var code = $("#code").val();
            if(!username || !username.length){
                alert("请输入用户名！");
                return;
            }
            if(!password || !password.length){
                alert("请输入密码！");
                return;
            }
            if(!code || !code.length){
                alert("请输入验证码！");
                return;
            }
            $.ajax({
                url:Url.User.login,
                type:"POST",
                dataType:"json",
                data:{username:username,password:password,code:code},
                success:function(data){
                    if(data.code == Code.SUCCESS.status){
                        window.location.href = "index.jhtml";
                    }else{
                        changeVerifyCode(document.getElementById("captcha_img"));
                        alert(data.message);
                    }
                }
            });
        };
        function resetInput(){
            $("#username").val("");
            $("#password").val("");
            $("#code").val("");
        };
        function changeVerifyCode(img){
            img.src = "code/captcha-image?"+Math.floor(Math.random()*100);
        };
    </script>
</head>
<body>
<div id="login" style="opacity: 1; display: block;">
    <div class="ribbon"></div>
    <div class="inner">
        <div class="logo" style="top: 1%; opacity: 1;">
            <img src="images/toplogo.png" />
        </div>
        <div class="formLogin" style="opacity: 1; left: 0px; display: block;">
            <div class="tip">
                <input type="text" placeholder="请输入用户名" id="username" name="username" class="userName"/>
            </div>
            <div class="tip">
                <input type="password" placeholder="请输入密码" id="password" name="password" class="password"/>
            </div>
            <div class="tip" id="code-div">
                <input type="text" placeholder="请输入验证码" id="code" name="code" class="password" style="width:60%;"/>
                <img id="captcha_img" alt="点击更换" title="点击更换" onclick="changeVerifyCode(this)" src="code/captcha-image" class="m">
            </div>
            <div class="loginButton">
                <div style="float: right; padding: 3px 0; margin-right: -12px;">
                    <div>
                        <ul class="uibutton-group">
                            <li><a id="but_login" href="javascript:void();"
                                   onclick="javascript:index();" class="uibutton normal">登录</a></li>
                            <li><a onclick="resetInput();" id="forgetpass" href="javascript:void(0);" class="uibutton normal">重置</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="shadow"></div>
</div>
<div class="clear"></div>
</body>
</html>
