<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lichuan.sale.dao.UserAddressMapper">
  <resultMap id="BaseResultMap" type="com.lichuan.sale.model.UserAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="r_province" jdbcType="VARCHAR" property="rProvince" />
    <result column="r_city" jdbcType="VARCHAR" property="rCity" />
    <result column="r_district" jdbcType="VARCHAR" property="rDistrict" />
    <result column="r_address" jdbcType="VARCHAR" property="rAddress" />
    <result column="freight" jdbcType="DECIMAL" property="freight" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>