<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lichuan.sale.dao.VercodeMapper">
  <resultMap id="BaseResultMap" type="com.lichuan.sale.model.Vercode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="expires_in" jdbcType="TIMESTAMP" property="expiresIn" />
  </resultMap>
</mapper>